<section class="my-5">
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-7">
      <a href="#!" class="green-text">
        <h6 class="font-weight-bold mb-3"><i class="fas fa-utensils pr-2"></i>Food</h6>
      </a>
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>Add new Organic food</strong></h3>

      <!-- Form -->
      <form #f="ngForm" (ngSubmit)="save(f.value)" class="text-center" style="color: #757575;">

        <!-- Title -->
        <div class="md-form">
          <input #title="ngModel" ngModel name="title" type="text" id="title" class="form-control" required>
          <div class="alert alert-info" role="alert" *ngIf="title.touched && title.invalid">
            Title is Reqired!
          </div>
          <label for="title">Title</label>
        </div>

        <!-- Price -->
        <div class="md-form">
          <input #price="ngModel" ngModel name="price" type="number" id="price" class="form-control" required [min]="0">
          <div class="alert alert-info" role="alert" *ngIf="price.touched && price.invalid">
            <div *ngIf="price.errors.required"> Price is Reqired!</div>
            <div *ngIf="price.errors.min">Price should be 0 or higher</div>
          </div>
          <label for="price">Price</label>
        </div>


        <!-- Category -->
        <div class="md-form">
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select #category="ngModel" ngModel name="category" required>
              <mat-option *ngFor="let c of categories$ | async" [value]="c.name">
                {{ c.name  }}
              </mat-option>
            </mat-select>
            <div class="alert alert-info" role="alert" *ngIf="category.touched && category.invalid">
              Category is Reqired!
            </div>
          </mat-form-field>
        </div>

        <!-- Image Url -->
        <div class="md-form">
          <input #url="ngModel" ngModel name="imageUrl" type="text" id="imageURL" class="form-control" required url>
          <div class="alert alert-info" role="alert" *ngIf="url.touched && url.invalid">
            <div *ngIf="url.errors.required"> Image URL is Reqired!</div>
            <div *ngIf="url.errors.url">Please enter valid URL </div>
           
          </div>
          <label for="imageURL">Image URL</label>
        </div>

        <button type="submit" class="btn btn-pink btn-md mb-lg-0 mb-4">Save</button>
      </form>


    </div>

    <!-- Grid column -->
    <div class="col-lg-5">
      <div class="card hoverable">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>

    </div>
  </div>

</section>